root = true
[*]
indent_style = tab
indent_size = 2
insert_final_newline = true
tab_width = 2
trim_trailing_whitespace = true

[*.{bicep,json,ps1,psm1,yaml,yml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
